.header
{
	background-color: #343434;
	padding-bottom: 30px;
	padding-left: 60px;
}
.labelspot{
	color:#000;
	font-family:'Titillium Web';
	font-weight:700;
	font-size:60px;
}
.labelprices{
	color:#333;
	font-family:'Titillium Web';
	font-weight:400;
	font-size:55px;
}
.labelbiz{
	color:gold;
	font-family:'Titillium Web';
	font-weight:700;
	font-size:65px;
	text-shadow:0em 0.1em #333;
}
nav
{
	background: rgba(255,0,0,0.5);
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;
}
nav ul
{
	list-style: none;
	text-align: center;
}
nav ul li
{
	display: inline-block;
}
nav ul li a 
{
	color: #000
	display: inline-block;
	margin: 0,33,0,0;
	padding: 8,16;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
nav ul li a:hover
{
	color: #223412;
	transform: scale(1.9);
	-webkit-transform: scale(1.9);
}
aside
{
	background: rgba(33,0,21,0.5);
	border-radius: 10px;
	float: right;
	position: fixed;
	right: 0;
	top:0;
	width: 320px;

}




